@import 'reset';

$fonte-principal: 'Raleway', sans-serif;
$fonte-pr-peso: 200;
$fonte-pr-tamanho: 6em;
$bg-color-principal: #39BCD0;
$bg-color-secundaria: #caf8ff;


html {
    font-family: $fonte-principal;
    font-weight: $fonte-pr-peso;    

    body {
        background-color: $bg-color-principal;
        color: $bg-color-secundaria;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .titulo {
            font-size: $fonte-pr-tamanho;
        }

        .subtitulo {
            font-size: 4em;
            margin-top: 2rem;
        }

        .mensagem {
            font-size: 2em;
            margin-top: 3rem;

            .box{
                border: 2px solid $bg-color-secundaria;
                display: inline-block;
                font-size: 5em;
                padding: 1.5rem;
                margin: 1.2rem;
                align-items: center;
            }
        }
    }
}



